/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/lib/dummy/log/
/lib/dummy/tmp/
/lib/dummy/storage/
/lib/dummy/public/assets
/lib/dummy/db/*.sqlite3
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
